
/* Scroll trigger - Intersection Oberver */

.inviewblock {
  display: flex;
  min-height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #148bb4;
  color: azure;
}

